aiobotocore
altair
pandas
numpy
matplotlib
seaborn
scikit-learn
streamlit
streamlit-aggrid
streamlit-extras
streamlit_extras
plotly
streamlit-faker
streamlit-image-coordinates
requests
yfinance
yt-dlp
