aiobotocore==2.15.2
altair==4.2.2
appdirs==1.4.4
atomicwrites==1.4.0
brewer2mpl==1.4.1
cryptocompare==0.7.6
cupy-cuda12x==13.3.0
Faker==30.1.0
fastrlock==0.8.2
favicon==0.7.0
ggplot==0.11.5
google-play-scraper==1.2.7
google-play-scrapper==0.0.1
htbuilder==0.6.2
html5lib==1.1
jsonpointer==2.1
lxml==5.2.1
Markdown==3.7
markdownlit==0.0.7
missingno==0.5.2
mizani==0.11.4
mkl-service==2.4.0
mplfinance==0.12.10b0
multitasking==0.0.11
opencv-python==4.10.0.84
pandas==2.2.3
peewee==3.17.6
plotly==5.24.1
plotnine==0.13.6
protobuf==3.20.3
py4j==0.10.9.7
pyasn1-modules==0.2.8
pyclustering==0.10.1.2
pycurl==7.45.2
pyls-spyder==0.4.0
pymdown-extensions==10.11.2
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyspark==3.5.3
python-decouple==3.8
pywin32==305.1
scikit-learn==1.5.2
setuptools==72.1.0
st-annotated-text==4.0.1
st-theme==1.2.3
streamlit==1.38.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.7
numpy==2.2.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-navigation-bar==3.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
validators==0.34.0
wheel==0.43.0
yahoofinancials==1.20
yellowbrick==1.5
yfinance==0.2.43
yt-dlp==2024.11.18